<a href="https://colab.research.google.com/github/Dhrupad-05/Intro-to-Machine-Learning/blob/main/1_Data_Gathering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Working With CSV Files**

**LOCAL FILE**

In [2]:
#When the file is present locally
import pandas as pd
df=pd.read_csv("diabetes.csv")
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

**Opening CSV Files From Links**

In [ ]:
#opening csv from url
import requests
from io import StringIO
url="https://raw.githubusercontent.com/datasets/gdp/main/data/gdp.csv" # Replace with your actual CSV URL
headers= {} #heere we giive the link headers
req=requests.get(url,headers=headers)
df=pd.read_csv(StringIO(req.text))
df.head(10)

      Country Name Country Code  Year         Value
0      Afghanistan          AFG  2000  3.521418e+09
1      Afghanistan          AFG  2001  2.813572e+09
2      Afghanistan          AFG  2002  3.825701e+09
3      Afghanistan          AFG  2003  4.520947e+09
4      Afghanistan          AFG  2004  5.224897e+09
...            ...          ...   ...           ...
13974     Zimbabwe          ZWE  2019  2.183223e+10
13975     Zimbabwe          ZWE  2020  2.150970e+10
13976     Zimbabwe          ZWE  2021  2.837124e+10
13977     Zimbabwe          ZWE  2022  2.736663e+10
13978     Zimbabwe          ZWE  2023  2.653827e+10

[13979 rows x 4 columns]

**SEP Parameter**

In [ ]:
pd.read_csv("diabetes.csv", sep='\t')#It helps to give the spaces between the columns

**Index_col Parameter**

In [ ]:
pd.read_csv("diabetes.csv",index_col='Glucose')

,Pregnancies,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Glucose,,,,,,,,
148,6,72,35,0,33.6,0.627,50,1
85,1,66,29,0,26.6,0.351,31,0
183,8,64,0,0,23.3,0.672,32,1
89,1,66,23,94,28.1,0.167,21,0
137,0,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
101,10,76,48,180,32.9,0.171,63,0
122,2,70,27,0,36.8,0.340,27,0
121,5,72,23,112,26.2,0.245,30,0
126,1,60,0,0,30.1,0.349,47,1
93,1,70,31,0,30.4,0.315,23,0

**Header**

In [ ]:
pd.read_csv("diabetes.csv",header=0)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

**Use COl parameter**

In [ ]:
pd.read_csv("diabetes.csv",usecols=['Glucose','Age', 'BMI'])

     Glucose   BMI  Age
0        148  33.6   50
1         85  26.6   31
2        183  23.3   32
3         89  28.1   21
4        137  43.1   33
..       ...   ...  ...
763      101  32.9   63
764      122  36.8   27
765      121  26.2   30
766      126  30.1   47
767       93  30.4   23

[768 rows x 3 columns]

**Squeeze**

In [ ]:
# The 'squeeze' parameter is deprecated and removed in recent pandas versions.
# To get a Series from a single column, read the CSV and then select the column.
pd.read_csv("diabetes.csv", usecols=['Glucose'])['Glucose']

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

**SkipRows / Rows Prameter**

In [ ]:
pd.read_csv("diabetes.csv",skiprows=[1,3])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,0,26.6,0.351,31,0
1,1,89,66,23,94,28.1,0.167,21,0
2,0,137,40,35,168,43.1,2.288,33,1
3,5,116,74,0,0,25.6,0.201,30,0
4,3,78,50,32,88,31.0,0.248,26,1
...,...,...,...,...,...,...,...,...,...
761,10,101,76,48,180,32.9,0.171,63,0
762,2,122,70,27,0,36.8,0.340,27,0
763,5,121,72,23,112,26.2,0.245,30,0
764,1,126,60,0,0,30.1,0.349,47,1
765,1,93,70,31,0,30.4,0.315,23,0

**nRows**

In [ ]:
#give the  number of rows as requested(n)
pd.read_csv("diabetes.csv",nrows=100)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
95,6,144,72,27,228,33.9,0.255,40,0
96,2,92,62,28,0,31.6,0.130,24,0
97,1,71,48,18,76,20.4,0.323,22,0
98,6,93,50,30,64,28.7,0.356,23,0
99,1,122,90,51,220,49.7,0.325,31,1

**Encoding Parameter**

In [ ]:
#used when the text isside isn't encoded... like if it's a emoji dataset
pd.read_csv("diabetes.csv",encoding='latin-1')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

**Skip Bad Lines**

In [ ]:
pd.read_csv("diabetes.csv",sep='1',encoding="latin-1",on_bad_lines='skip')

                                              Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
6,                  48,72,35,0,33.6,0.627,50,                                                NaN
8,                  83,64,0,0,23.3,0.672,32,                                                 NaN
3,78,50,32,88,3     ,0.248,26,                                                               NaN
8,                  25,96,0,0,0,0.232,54,                                                    NaN
7,                  00,0,0,0,30,0.484,32,                                                    NaN
...                                                                                          ...
0,                  23,72,0,0,36.3,0.258,52,                                                 NaN
6,                  90,92,0,0,35.5,0.278,66,                                                 NaN
2,88,58,26,         6,28.4,0.766,22,0                                                        NaN
9,89,62,0,0,22.5,0. 42,33,0                                                                  NaN
2,                  22,70,27,0,36.8,0.34,27,0                                                NaN

[342 rows x 1 columns]

**dTypes Parameter**

In [ ]:
#help to change a datatype of a specified column
pd.read_csv("diabetes.csv",dtype={'Glucose':'float64'})

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35,0,33.6,0.627,50,1
1,1,85.0,66,29,0,26.6,0.351,31,0
2,8,183.0,64,0,0,23.3,0.672,32,1
3,1,89.0,66,23,94,28.1,0.167,21,0
4,0,137.0,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76,48,180,32.9,0.171,63,0
764,2,122.0,70,27,0,36.8,0.340,27,0
765,5,121.0,72,23,112,26.2,0.245,30,0
766,1,126.0,60,0,0,30.1,0.349,47,1
767,1,93.0,70,31,0,30.4,0.315,23,0

**Handling Dates**

In [ ]:
import pandas as pd
pd.read_csv("IPL.csv",parse_dates=['date']).info()

/tmp/ipython-input-2860229831.py:2: DtypeWarning: Columns (20,32,43,46,47,48,51,63) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("IPL.csv",parse_dates=['date']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93724 entries, 0 to 93723
Data columns (total 64 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         93724 non-null  int64
 1   match_id           93724 non-null  int64
 2   date               93724 non-null  datetime64[ns]
 3   match_type         93724 non-null  object
 4   event_name         93724 non-null  object
 5   innings            93724 non-null  int64
 6   batting_team       93724 non-null  object
 7   bowling_team       93724 non-null  object
 8   over               93723 non-null  float64
 9   ball               93723 non-null  float64
 10  ball_no            93723 non-null  float64
 11  batter             93723 non-null  object
 12  bat_pos            93723 non-null  float64
 13  runs_batter        93723 non-null  float64
 14  balls_faced        93723 non-null  float64
 15  bowler             93723 non-null  object
 16  valid_ball         93723 non-null  float64
 17  runs_extras        93723 non-null  float64
 18  runs_total         93723 non-null  float64
 19  runs_bowler        93723 non-null  float64
 20  runs_not_boundary  93723 non-null  object
 21  extra_type         5195 non-null   object
 22  non_striker        93723 non-null  object
 23  non_striker_pos    93723 non-null  float64
 24  wicket_kind        4644 non-null   object
 25  player_out         4644 non-null   object
 26  fielders           3334 non-null   object
 27  runs_target        45198 non-null  float64
 28  review_batter      0 non-null      float64
 29  team_reviewed      0 non-null      float64
 30  review_decision    0 non-null      float64
 31  umpire             0 non-null      float64
 32  umpires_call       93723 non-null  object
 33  player_of_match    93723 non-null  object
 34  match_won_by       93723 non-null  object
 35  win_outcome        92615 non-null  object
 36  toss_winner        93723 non-null  object
 37  toss_decision      93723 non-null  object
 38  venue              93723 non-null  object
 39  city               93723 non-null  object
 40  day                93723 non-null  float64
 41  month              93723 non-null  float64
 42  year               93723 non-null  float64
 43  season             93723 non-null  object
 44  gender             93723 non-null  object
 45  team_type          93723 non-null  object
 46  superover_winner   1045 non-null   object
 47  result_type        1108 non-null   object
 48  method             1354 non-null   object
 49  balls_per_over     93723 non-null  float64
 50  overs              93723 non-null  float64
 51  event_match_no     93723 non-null  object
 52  stage              93723 non-null  object
 53  match_number       93723 non-null  object
 54  team_runs          93723 non-null  float64
 55  team_balls         93723 non-null  float64
 56  team_wicket        93723 non-null  float64
 57  new_batter         4476 non-null   object
 58  batter_runs        93723 non-null  float64
 59  batter_balls       93723 non-null  float64
 60  bowler_wicket      93723 non-null  float64
 61  batting_partners   93723 non-null  object
 62  next_batter        4476 non-null   object
 63  striker_out        93723 non-null  object
dtypes: datetime64[ns](1), float64(27), int64(3), object(33)
memory usage: 45.8+ MB

**Converters**

In [ ]:
from os import rename
pd.read_csv("IPL.csv",converters={'bowling_team':rename})

**Na_Values Parameter**

In [ ]:
pd.read_csv("IPL.csv",na_values=['Mi'])

**Loading A huge Dataset in chunks**

In [ ]:
dfs=pd.read_csv("IPL.csv",chunksize=10000)
for chunks in dfs:
  print(chunks.shape)

/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (43,46,47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:

(10000, 64)
(10000, 64)
(10000, 64)

/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (43,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:

(10000, 64)
(10000, 64)
(10000, 64)
(10000, 64)

/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (46,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (46,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:

(10000, 64)
(10000, 64)
(10000, 64)

/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:

(10000, 64)
(10000, 64)
(10000, 64)
(10000, 64)

/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (46,47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:

(10000, 64)
(10000, 64)
(10000, 64)

/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (46,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:

(10000, 64)
(10000, 64)
(10000, 64)

/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (43,46,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:

(10000, 64)
(10000, 64)
(10000, 64)

/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:
/tmp/ipython-input-3326823366.py:2: DtypeWarning: Columns (48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunks in dfs:

(10000, 64)
(10000, 64)
(10000, 64)
(6261, 64)

# **2.Working With JSON/SQL Format**

In [ ]:
import pandas as pd
pd.read_json("test.json")

         id                                        ingredients
0     18009  [baking powder, eggs, all-purpose flour, raisi...
1     28583  [sugar, egg yolks, corn starch, cream of tarta...
2     41580  [sausage links, fennel bulb, fronds, olive oil...
3     29752  [meat cuts, file powder, smoked sausage, okra,...
4     35687  [ground black pepper, salt, sausage casings, l...
...     ...                                                ...
9939  30246  [large egg yolks, fresh lemon juice, sugar, bo...
9940  36028  [hot sauce, butter, sweet potatoes, adobo sauc...
9941  22339  [black pepper, salt, parmigiano reggiano chees...
9942  42525  [cheddar cheese, cayenne, paprika, plum tomato...
9943   1443  [cold water, olive oil, lime wedges, garlic cl...

[9944 rows x 2 columns]

# **3. Fetching From SQL Format**

In [ ]:
#Coming Soon

# **4. Fetching From ApI**

In [ ]:
import pandas as pd
import requests
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=4f527f47fc1ee04e58ab830bf3387721')
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.8874,8.715,29709
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,39.4251,8.700,22438
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,20.0520,8.600,13579
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,19.0086,8.600,17097
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,13.4551,8.555,9735
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,20.0036,8.534,17940
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,31.9847,8.500,35160
7,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,6.8607,8.516,4554
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,21.1832,8.504,18839
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,21.8428,8.500,20120
10,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,29.1045,8.493,26010
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,21.8347,8.486,29665
12,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,20.0849,8.478,12289
13,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,14.0948,8.468,9408
14,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,46.5417,8.467,38843
15,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,22.7297,8.462,29226
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,24.5518,8.452,13999
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,9.1602,8.450,4106
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0084,8.443,6349
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,9.2470,8.440,13779

# **5.Web Scaping**

In [ ]:
#Coming Soon